.profile {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name {
    text-align: center; letter-spacing: 3px
} 

.content {
    text-align: center;
    font-weight: 500;
}

.box {
    width: 400px;
    height: 100px;
    background-color: aquamarine;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    padding-top: 40px;
    box-shadow: 10px, 10px black;
}

.container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.icon {
    display: flex;
}

.icon-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.icon-text {
    color: grey;
    margin-top: 4px;
    margin-left: 7px;
    display: flex;
    flex-direction: column;
}

.icon-text :last-child {
    margin-top: 4px;
    font-size: 12px;
}

.photo {
    margin-left: 10px;
}

